---
import PostCard from "src/components/PostCard.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<ul aria-label="Posts" data-component="PostsRows">
  {
    posts.map((post) => (
      <li>
        <PostCard post={post} />
      </li>
    ))
  }
</ul>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="PostsRows"] {
    & > li {
      border-top: 1px solid var(--layout-border);
    }

    & > li:last-child {
      border-bottom: 1px solid var(--layout-border);
    }
  }
</style>
