---
import TagPill from "src/components/TagPill.astro";

interface Props {
  tags: { tag: string; count?: number }[] | undefined;
  activeTag?: string | undefined;
  getTagLink: (tag: string) => string;
}

const { tags = [], activeTag, getTagLink, ...rest } = Astro.props;

if (tags.length === 0) return;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<div data-component="Tags" {...rest}>
  {
    tags.map(({ tag, count }) => (
      <a href={getTagLink(tag)}>
        <TagPill
          tag={tag}
          count={count}
          withLinks={activeTag !== tag}
          active={activeTag === tag}
        />
      </a>
    ))
  }
</div>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="Tags"] {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;

    & > a {
      border-radius: 100vmax;
    }
  }
</style>
