---
import TagPill from "src/components/TagPill.astro";
import { getUrl } from "src/utils/navigation";
interface Props {
  tags: string[] | undefined;
}

const { tags = [], ...rest } = Astro.props;

if (tags.length === 0) return;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<div data-component="Tags" {...rest}>
  {
    tags.map((tag) => (
      <a href={getUrl(`/tags/${tag}`)}>
        <TagPill tag={tag} withLinks />
      </a>
    ))
  }
</div>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="Tags"] {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
  }
</style>
