---
const props = Astro.props;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<footer component-root {...props}>
  <div>
    <p>© {new Date().getFullYear()} All rights reserved.</p>
  </div>
</footer>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [component-root] {
    border-top: 1px solid var(--layout-border);

    & > div {
      max-width: 1024px;
      margin-inline: auto;

      @media only screen and (min-width: 1024px) {
        border-inline: 1px solid var(--layout-border);
      }

      padding: 32px var(--middle-x-padding);

      & > p {
        font-size: small;
        color: var(--foreground-30);
      }
    }
  }
</style>
