---
import {
  NAVIGATION_HOME_ITEM,
  WebsiteLogo,
  WEBSITE_NAME,
} from "src/constants";
import { isActive, getUrl } from "src/utils/navigation";

const { pathname } = new URL(Astro.request.url);
const props = Astro.props;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<header data-component="MobileHeader" {...props}>
  <nav>
    <a
      id="left"
      href={getUrl(NAVIGATION_HOME_ITEM.href)}
      class:list={{ active: isActive(NAVIGATION_HOME_ITEM, pathname) }}
    >
      <div>
        <WebsiteLogo />
        <p>{WEBSITE_NAME}</p>
      </div>
    </a>
    <div id="right">
      <p>© {new Date().getFullYear()} All rights reserved.</p>
    </div>
  </nav>
</header>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="MobileHeader"] {
    border-bottom: 1px solid var(--layout-border);

    & > nav {
      max-width: 1024px;
      margin-inline: auto;
      padding: 16px calc(var(--middle-x-padding));

      @media only screen and (min-width: 1024px) {
        border-inline: 1px solid var(--layout-border);
      }

      display: flex;
      justify-content: space-between;

      & > #left,
      & > #right {
        display: flex;
        align-items: end;
      }

      & > #left {
        flex-direction: column;
        align-items: end;
        gap: 4px;

        & > div {
          display: flex;
          align-items: center;

          font-size: x-large;
          font-weight: 700;
          gap: 16px;

          & svg {
            width: 32px;
            height: 32px;
          }

          @media only screen and (max-width: 400.5px) {
            display: flex;
            flex-direction: column;

            & svg {
              width: 64px;
              height: 64px;
            }
          }
        }
      }

      & > #right {
        & > p {
          font-size: small;
          color: var(--foreground-50);
          line-height: 1.8;
        }
      }

      @media only screen and (max-width: 600.5px) {
        flex-direction: column;
        align-items: center;
        padding-block: 16px;
      }

      @media only screen and (max-width: 400.5px) {
        gap: 8px;
      }
    }
  }
</style>
