---
import { NAVIGATION_HOME_ITEM, NAVIGATION_ITEMS } from "src/constants";
import { isActive, getUrl } from "src/utils/navigation";

const { pathname } = new URL(Astro.request.url);
const props = Astro.props;

const items = [NAVIGATION_HOME_ITEM, ...NAVIGATION_ITEMS];
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<header data-component="MobileFooter" {...props}>
  <nav>
    {
      items.map(({ href, label, icon: Icon, detection }) => (
        <a
          href={getUrl(href)}
          class:list={{
            active: isActive({ href, detection }, pathname),
          }}
        >
          <Icon width={24} height={24} />
          {label}
        </a>
      ))
    }
  </nav>
</header>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="MobileFooter"] {
    position: sticky;
    bottom: 0;
    backdrop-filter: blur(24px);
    background-color: var(--background-70);

    border-top: 1px solid var(--layout-border);

    & > nav {
      max-width: 1024px;
      margin-inline: auto;
      padding-inline: calc(var(--middle-x-padding) - 16px);

      @media only screen and (min-width: 1024px) {
        border-inline: 1px solid var(--layout-border);
      }

      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;

      & a {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 4px;
        font-size: small;

        color: var(--foreground-60);
        padding: 16px;
        transition: color 100ms;

        &:hover,
        &:focus-visible {
          color: inherit;
        }

        &.active {
          color: var(--foreground);
          font-weight: 700;
        }
      }
    }
  }
</style>
