---
import { getCollection } from "astro:content";
import Html from "../../components/Html.astro";
import HashLogo from "../../icons/lucide--hash.svg";
import PostPreview from "../../components/PostPreview.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tags = new Set(posts.flatMap((post) => post.data.tags ?? []));

  return [...tags].map((tag) => ({
    params: { tag },
    props: { tag },
  }));
}

const { tag } = Astro.props;

const posts = await getCollection("posts", (post) =>
  post.data.tags?.includes(tag)
);

// Sort from newer to older
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<Html page-root>
  <h1>
    Posts tagged with <span><HashLogo width={26} height={26} />{tag}</span>
  </h1>

  <div id="posts">
    {
      posts.map((post) => (
        <div>
          <PostPreview post={post} />
        </div>
      ))
    }
  </div>
</Html>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [page-root] {
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding-top: 64px;
    padding-bottom: 128px;

    & > h1 {
      padding-inline: var(--middle-x-padding);

      & > span {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        background-color: var(--foreground-10);
        border-radius: 100vmax;
        padding: 8px 14px;
        padding-right: 18px;
        font-size: 26px;
        font-weight: 500;
      }
    }

    & > #posts {
      & > div {
        border-top: 1px solid var(--layout-border);
      }

      & > div:last-child {
        border-bottom: 1px solid var(--layout-border);
      }
    }
  }
</style>
