---
import { getCollection } from "astro:content";
import Html from "src/components/layout/Html.astro";
import TagPill from "src/components/TagPill.astro";
import { getUrl } from "src/utils/navigation";
const posts = await getCollection("posts");
const tagNames = new Set(posts.flatMap((post) => post.data.tags ?? []));

const tags = [...tagNames].map((tag) => ({
  tag,
  count: posts.filter((post) => post.data.tags?.includes(tag)).length,
}));

// Sort from most prevalent to least
tags.sort((a, b) => b.count - a.count);
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<Html data-page="Tags">
  <h1>Tags</h1>
  <div>
    {
      tags.map(({ tag, count }) => (
        <a href={getUrl(`/tags/${tag}`)}>
          <TagPill tag={tag} count={count} withLinks />
        </a>
      ))
    }
  </div>
</Html>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-page="Tags"] {
    padding: 64px var(--middle-x-padding);
    display: flex;
    flex-direction: column;
    gap: 32px;

    & > div {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
</style>
