---
import Html from "../components/Html.astro";
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<Html page-root>
  <h1>About</h1>
</Html>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [page-root] {
    padding: 64px var(--middle-x-padding);
  }
</style>
