---
import { getUrl } from "src/utils/navigation";
import Html from "src/components/layout/Html.astro";
import RightArrow from "src/icons/lucide--arrow-right.svg";
import { getPosts, getPage, getImages } from "src/utils/collections";
import { render } from "astro:content";
import { MAX_POSTS_HOMEPAGE, MAX_IMAGES_HOMEPAGE } from "src/constants";
import ImageCard from "./images/_components/ImageCard.astro";
import PostsRows from "./posts/_components/PostsRows.astro";

const homePage = await getPage("home");
const { title, summary } = homePage.data;
const { Content } = await render(homePage);

const posts = await getPosts({ sort: "date", order: "desc" });
const latestPosts = posts.slice(0, MAX_POSTS_HOMEPAGE);

const images = await getImages({ sort: "date", order: "desc" });
const latestImages = images.slice(
  0,
  Math.max(...Object.values(MAX_IMAGES_HOMEPAGE))
);
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<Html openGraph={{ title, description: summary }} data-page="Home">
  <section aria-label="Welcome" id="welcome">
    <h1>{title}</h1>
    <div>
      <Content />
    </div>
  </section>
  {
    latestImages.length > 0 && (
      <section aria-labelledby="latest-images-title" id="latest-images">
        <h2 id="latest-images-title">
          {latestImages.length === images.length ? "Images" : "Latest images"}
        </h2>
        <ul id="grid" aria-label="Images">
          {latestImages.map((image, index) => (
            <li
              class:list={{
                "hide-4": index >= MAX_IMAGES_HOMEPAGE.with4Columns,
                "hide-3": index >= MAX_IMAGES_HOMEPAGE.with3Columns,
                "hide-2": index >= MAX_IMAGES_HOMEPAGE.with2Columns,
                "hide-1": index >= MAX_IMAGES_HOMEPAGE.with1Column,
              }}
            >
              <ImageCard image={image} />
            </li>
          ))}
        </ul>
        {latestImages.length !== images.length && (
          <a
            class="view-all"
            href={getUrl("/images")}
            aria-label="View all images"
          >
            <span aria-hidden="true">View all images</span>
            <RightArrow width={16} height={16} aria-hidden="true" />
          </a>
        )}
      </section>
    )
  }
  {
    latestPosts.length > 0 && (
      <section aria-labelledby="latest-posts-title" id="latest-posts">
        <h2 id="latest-posts-title">
          {latestPosts.length === posts.length ? "Posts" : "Latest posts"}
        </h2>
        <PostsRows posts={latestPosts} />
        {latestPosts.length !== posts.length && (
          <a
            class="view-all"
            href={getUrl("/posts")}
            aria-label="View all posts"
          >
            <span aria-hidden="true">View all posts</span>
            <RightArrow width={16} height={16} aria-hidden="true" />
          </a>
        )}
      </section>
    )
  }
</Html>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-page="Home"] {
    display: flex;
    flex-direction: column;
    gap: 6em;
    padding-block: 64px;

    @media (max-width: 600.5px) {
      gap: 8em;
    }

    & > #welcome {
      padding-inline: var(--middle-x-padding);
      max-width: 70ch;
      gap: 2.5em;
    }

    & > section {
      display: flex;
      flex-direction: column;
      gap: 1.2em;

      padding-bottom: calc(10vh - 10vw);

      & > h2 {
        margin-bottom: 0.5em;
        padding-inline: var(--middle-x-padding);
      }

      & > .view-all {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        place-self: center;
        padding: 16px 24px;
        border-radius: 8px;

        @media (max-width: 600.5px) {
          margin-top: 1em;
        }

        transition: background-color 100ms;

        & > svg {
          transition: translate 100ms;
        }

        &:hover,
        &:focus-visible {
          background-color: var(--foreground-10);

          & > svg {
            translate: 4px 0px;
          }
        }
      }
    }

    & > #latest-images {
      & > #grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;

        background-color: var(--layout-border);
        padding-block: 1px;

        & > .hide-1,
        & > .hide-2,
        & > .hide-3 {
          display: inherit;
        }

        & > .hide-4 {
          display: none;
        }

        @media (max-width: 768.5px) {
          grid-template-columns: repeat(3, 1fr);

          & > .hide-1,
          & > .hide-2,
          & > .hide-4 {
            display: inherit;
          }

          & > .hide-3 {
            display: none;
          }
        }

        @media (max-width: 450.5px) {
          grid-template-columns: repeat(2, 1fr);

          & > .hide-1,
          & > .hide-3,
          & > .hide-4 {
            display: inherit;
          }

          & > .hide-2 {
            display: none;
          }
        }

        @media (max-width: 300.5px) {
          grid-template-columns: repeat(1, 1fr);

          & > .hide-2,
          & > .hide-3,
          & > .hide-4 {
            display: inherit;
          }

          & > .hide-1 {
            display: none;
          }
        }
      }
    }
  }
</style>
