---
import { getCollection } from "astro:content";
import Html from "src/components/layout/Html.astro";
import PostPreview from "src/components/PostPreview.astro";
import RightArrow from "src/icons/lucide--arrow-right.svg";

const posts = await getCollection("posts");

// Sort from newer to older
const latestPosts = posts
  .toSorted((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 2);
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<Html page-root>
  <div id="welcome" class="prose">
    <h1>Welcome</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis
      sodales commodo. Fusce eu sapien lectus. Vivamus eleifend scelerisque
      libero, in cursus leo. Integer tristique, lectus eget dapibus euismod,
      nisl massa imperdiet felis, sit amet tristique leo leo sed ante. Mauris
      efficitur leo ac purus tempus varius. Phasellus nec suscipit erat. Mauris
      pharetra porttitor ipsum vitae venenatis. Cras vitae nisl pellentesque,
      venenatis mauris at, mattis nisi. Pellentesque sed sem non nunc interdum
      laoreet. In tincidunt a tortor ut sollicitudin.
    </p>
    <br />
    <h2>Latest posts</h2>
  </div>
  <div id="latest-post">
    {
      latestPosts.map((post) => (
        <div>
          <PostPreview post={post} />
        </div>
      ))
    }
  </div>
  {
    latestPosts.length !== posts.length && (
      <a id="view-all" href="/posts">
        View all posts <RightArrow width={16} height={16} />
      </a>
    )
  }
</Html>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [page-root] {
    display: flex;
    flex-direction: column;
    gap: 1em;

    & > #welcome {
      padding-inline: var(--middle-x-padding);
      max-width: 70ch;
      padding-top: 64px;
      margin-bottom: 16px;
    }

    & > #latest-post {
      & > div {
        border-top: 1px solid var(--layout-border);
      }

      & > div:last-child {
        border-bottom: 1px solid var(--layout-border);
      }
    }

    & > #view-all {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 500;
      place-self: center;
      padding: 16px 24px;
      border-radius: 8px;
      margin-top: 16px;
      margin-bottom: 64px;

      transition: background-color 100ms;

      & > svg {
        transition: translate 100ms;
      }

      &:hover,
      &:focus-visible {
        background-color: var(--foreground-10);

        & > svg {
          translate: 4px 0px;
        }
      }
    }
  }
</style>
