---
import { getUrl } from "src/utils/navigation";
import Html from "src/components/layout/Html.astro";
import PostCard from "src/components/PostCard.astro";
import RightArrow from "src/icons/lucide--arrow-right.svg";
import { getPosts, getPage, getImages } from "src/utils/collections";
import { render } from "astro:content";
import { MAX_POSTS_HOMEPAGE, MAX_IMAGES_HOMEPAGE } from "src/constants";
import ImageCard from "./images/_components/ImageCard.astro";

const homePage = await getPage("home");
const { title, summary } = homePage.data;
const { Content } = await render(homePage);

const posts = await getPosts({
  sort: "date",
  order: "desc",
});

const images = await getImages();

const latestPosts = posts.slice(0, MAX_POSTS_HOMEPAGE);
const latestImages = images.slice(
  0,
  Math.max(...Object.values(MAX_IMAGES_HOMEPAGE))
);
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<Html openGraph={{ title, description: summary }} data-page="Home">
  <div id="welcome">
    <h1>{title}</h1>
    <div>
      <Content />
    </div>
  </div>
  {
    latestImages.length > 0 && (
      <section id="latest-images">
        <h2>
          {latestImages.length === images.length ? "Images" : "Latest images"}
        </h2>
        <div id="grid">
          {latestImages.map((image, index) => (
            <div
              class:list={{
                "hide-4": index >= MAX_IMAGES_HOMEPAGE.with4Columns,
                "hide-3": index >= MAX_IMAGES_HOMEPAGE.with3Columns,
                "hide-2": index >= MAX_IMAGES_HOMEPAGE.with2Columns,
                "hide-1": index >= MAX_IMAGES_HOMEPAGE.with1Column,
              }}
            >
              <ImageCard image={image} />
            </div>
          ))}
        </div>
        {latestImages.length !== images.length && (
          <a class="view-all" href={getUrl("/images")}>
            View all images <RightArrow width={16} height={16} />
          </a>
        )}
      </section>
    )
  }
  {
    latestPosts.length > 0 && (
      <section id="latest-posts">
        <h2>
          {latestPosts.length === posts.length ? "Posts" : "Latest posts"}
        </h2>
        <div id="rows">
          {latestPosts.map((post) => (
            <div>
              <PostCard post={post} />
            </div>
          ))}
        </div>
        {latestPosts.length !== posts.length && (
          <a class="view-all" href={getUrl("/posts")}>
            View all posts <RightArrow width={16} height={16} />
          </a>
        )}
      </section>
    )
  }
</Html>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-page="Home"] {
    display: flex;
    flex-direction: column;
    gap: 6em;
    padding-block: 64px;

    @media (max-width: 600.5px) {
      gap: 8em;
    }

    & > #welcome {
      padding-inline: var(--middle-x-padding);
      max-width: 70ch;

      & > h1 {
        margin-bottom: 1em;
      }
    }

    & > section {
      display: flex;
      flex-direction: column;
      gap: 1.2em;

      padding-bottom: calc(10vh - 10vw);

      & > h2 {
        margin-bottom: 0.5em;
        padding-inline: var(--middle-x-padding);
      }

      & > .view-all {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        place-self: center;
        padding: 16px 24px;
        border-radius: 8px;

        @media (max-width: 600.5px) {
          margin-top: 1em;
        }

        transition: background-color 100ms;

        & > svg {
          transition: translate 100ms;
        }

        &:hover,
        &:focus-visible {
          background-color: var(--foreground-10);

          & > svg {
            translate: 4px 0px;
          }
        }
      }
    }

    & > #latest-images {
      & > #grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;

        background-color: var(--layout-border);
        padding-block: 1px;

        & > div.hide-1,
        & > div.hide-2,
        & > div.hide-3 {
          display: inherit;
        }

        & > div.hide-4 {
          display: none;
        }

        @media (max-width: 768.5px) {
          grid-template-columns: repeat(3, 1fr);

          & > div.hide-1,
          & > div.hide-2,
          & > div.hide-4 {
            display: inherit;
          }

          & > div.hide-3 {
            display: none;
          }
        }

        @media (max-width: 450.5px) {
          grid-template-columns: repeat(2, 1fr);

          & > div.hide-1,
          & > div.hide-3,
          & > div.hide-4 {
            display: inherit;
          }

          & > div.hide-2 {
            display: none;
          }
        }

        @media (max-width: 300.5px) {
          grid-template-columns: repeat(1, 1fr);

          & > div.hide-2,
          & > div.hide-3,
          & > div.hide-4 {
            display: inherit;
          }

          & > div.hide-1 {
            display: none;
          }
        }
      }
    }

    & > #latest-posts {
      & > #rows {
        & > div {
          border-top: 1px solid var(--layout-border);
        }

        & > div:last-child {
          border-bottom: 1px solid var(--layout-border);
        }
      }
    }
  }
</style>
