---
import GithubLogo from "src/icons/lucide--github.svg";

const props = Astro.props;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<footer component-root {...props}>
  <div>
    <p>© {new Date().getFullYear()} All rights reserved.</p>
    <a href="https://github.com/DrMint">
      <GithubLogo width={16} height={16} />
    </a>
  </div>
</footer>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [component-root] {
    border-top: 1px solid var(--layout-border);

    & > div {
      max-width: 1024px;
      margin-inline: auto;

      @media only screen and (min-width: 1024px) {
        border-inline: 1px solid var(--layout-border);
      }

      padding: 16px var(--middle-x-padding);

      display: flex;
      justify-content: space-between;
      align-items: center;

      & > p {
        font-size: small;
        color: var(--foreground-60);
      }

      & > a {
        border: 1px solid var(--foreground-10);
        border-radius: 6px;
        display: block;
        display: grid;
        place-content: center;
        padding: 8px;

        transition:
          background-color 100ms,
          border-color 100ms;

        &:hover,
        &:focus-visible {
          background-color: var(--foreground-3);
          border-color: color-mix(in srgb, var(--foreground) 20%, transparent);
        }
      }
    }
  }
</style>
