---
import Logo from "../icons/r-entries.svg";

const { pathname } = new URL(Astro.request.url);

const items: { href: string; label: string }[] = [
  { href: "/posts", label: "Posts" },
  { href: "/tags", label: "Tags" },
  { href: "/about", label: "About" },
];
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<header component-root>
  <nav>
    <a id="left" href="/">
      <Logo />
      <p>ReSTRICTed_Entries</p>
    </a>
    <div id="right">
      {
        items.map(({ href, label }) => (
          <a href={href} class:list={{ active: pathname.startsWith(href) }}>
            {label}
          </a>
        ))
      }
    </div>
  </nav>
</header>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [component-root] {
    @media only screen and (min-width: 600.5px) {
      position: sticky;
      top: 0;
      backdrop-filter: blur(16px);
      background-color: var(--background-70);
    }

    border-block: 1px solid var(--layout-border);

    @media only screen and (min-width: 1024px) {
      border-inline: 1px solid var(--layout-border);
    }

    & > nav {
      max-width: 1024px;
      margin-inline: auto;
      padding-inline: calc(var(--middle-x-padding) - 16px);
      border-inline: 1px solid var(--layout-border);

      display: flex;
      justify-content: space-between;

      & > #left,
      & > #right {
        display: flex;
        align-items: center;
      }

      & a {
        color: var(--foreground-60);
        padding: 16px;
        transition: color 100ms;

        &:hover,
        &:focus-visible {
          color: inherit;
        }

        &.active {
          color: var(--foreground);
        }
      }

      & > #left {
        font-size: x-large;
        font-weight: 700;
        gap: 16px;

        & svg {
          width: 32px;
          height: 32px;
        }

        @media only screen and (max-width: 400px) {
          display: flex;
          flex-direction: column;

          & svg {
            width: 64px;
            height: 64px;
          }
        }
      }

      @media only screen and (max-width: 600.5px) {
        flex-direction: column;
        align-items: center;
        padding-block: 16px;
      }
    }
  }
</style>
