---
import Header from "./Header.astro";
import Footer from "./Footer.astro";

{
  /* --------------------------------[ HTML ]-------------------------------- */
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="R-Entries" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>Document</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  html {
    color-scheme: light dark;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }

  html,
  body {
    padding: 0;
    margin: 0;
  }

  body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2em;
    padding: 1em;
    padding-top: 2em;
  }
</style>

<style is:global>
  :root {
    --foreground: CanvasText;
    --background: Canvas;
    --foreground-3: color-mix(in srgb, var(--foreground) 3%, var(--background));
    --foreground-5: color-mix(in srgb, var(--foreground) 5%, var(--background));
    --foreground-10: color-mix(
      in srgb,
      var(--foreground) 10%,
      var(--background)
    );
    --foreground-20: color-mix(
      in srgb,
      var(--foreground) 20%,
      var(--background)
    );
    --foreground-30: color-mix(
      in srgb,
      var(--foreground) 30%,
      var(--background)
    );
    --foreground-50: color-mix(
      in srgb,
      var(--foreground) 50%,
      var(--background)
    );
    --foreground-60: color-mix(
      in srgb,
      var(--foreground) 60%,
      var(--background)
    );
    --background-70: color-mix(in srgb, var(--background) 70%, transparent);
  }

  .medium-zoom-overlay {
    backdrop-filter: blur(16px);
  }

  a {
    color: inherit;
    text-decoration: unset;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: unset;
    line-height: 1;
  }

  * {
    box-sizing: border-box;
  }

  .prose {
    * {
      line-height: 1.5;
    }

    a {
      color: revert;
      text-decoration: revert;
    }

    & > *:first-child {
      margin-top: unset;
    }

    & > *:last-child {
      margin-bottom: unset;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 2em;
      margin-bottom: 1em;
      scroll-margin-top: calc(56px + 2em);
    }

    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
      margin-top: -1em;
    }

    ul,
    ol {
      margin-block: 0.5em;

      li + li {
        margin-top: 0.5em;
      }
    }

    blockquote {
      border-left: 4px solid var(--foreground-30);
      margin-left: unset;
      padding: 0.5em 1em;
      background-color: var(--foreground-5);
      border-radius: 8px;
    }

    .astro-code {
      padding: 1em 1.5em;
      border-radius: 8px;
      white-space: unset;
      width: 100%;
    }

    :not(.astro-code) > code {
      background-color: var(--foreground-10);
      padding: 0.2em 0.5em;
      border-radius: 8px;
    }

    .anchor-link {
      color: var(--foreground-30);
      text-decoration: unset;
      margin-right: 8px;
      font-weight: 500;

      transition: color 100ms;

      &:hover,
      &:focus-visible {
        color: var(--foreground);
      }
    }
  }
</style>

{/* Medium-like image zoom on post images */}
<script>
  import mediumZoom from "medium-zoom";

  mediumZoom(document.querySelectorAll(".prose img"), {
    background: "color-mix(in srgb, Canvas 80%, transparent)",
    margin: 20,
  });
</script>
