---
const props = Astro.props;
const { class: className } = props;
---

<span class:list={["no-js-hide", className]} {...props}>
  <slot />
</span>

<span class:list={["js-hide", className]} {...props}>
  <slot name="fallback" />
</span>

<style>
  :global(html.no-js) .no-js-hide {
    display: none;
  }

  :global(html.js) .js-hide {
    display: none;
  }
</style>
