---
const { class: className, ...rest } = Astro.props;
---

<span class:list={["no-js-hide", className]} {...rest}>
  <slot />
</span>

<span class:list={["js-hide", className]} {...rest}>
  <slot name="fallback" />
</span>

<style>
  :global(html.no-js) .no-js-hide {
    display: none;
  }

  :global(html.js) .js-hide {
    display: none;
  }
</style>
