---
import type { CollectionEntry } from "astro:content";
import { getReadingTime } from "src/utils/readingTime";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { date } = post.data;
const readingTime = getReadingTime(post.body);
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<div component-root>
  <p>{date.toLocaleDateString(undefined, { dateStyle: "long" })}</p>
  <div class="separator">|</div>
  <p>{`${readingTime} min read`}</p>
</div>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [component-root] {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--foreground-60);

    .separator {
      height: 26px;
      color: var(--foreground-20);
    }
  }
</style>
