---
import TagPill from "src/components/TagPill.astro";

interface Props {
  tags: string[] | undefined;
}

const { tags = [], ...rest } = Astro.props;

if (tags.length === 0) return;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<div data-component="PreviewTags" {...rest}>
  {tags.map((tag) => <TagPill tag={tag} />)}
</div>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="PreviewTags"] {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
</style>
