---
import TagPill from "./TagPill.astro";

interface Props {
  tags: string[] | undefined;
}

const { tags = [] } = Astro.props;

if (tags.length === 0) return;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<div component-root>
  {tags.map((tag) => <TagPill tag={tag} />)}
</div>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [component-root] {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
</style>
