---
import HashLogo from "src/icons/lucide--hash.svg";

interface Props {
  tag: string;
  count?: number;
  withLinks?: boolean;
}

const { tag, count, withLinks = false } = Astro.props;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<div data-component="TagPill" class:list={{ "with-links": withLinks }}>
  <HashLogo width={12} height={12} />
  {tag}
  {count && <span>{`(${count})`}</span>}
</div>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="TagPill"] {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--foreground-10);
    border-radius: 100vmax;
    padding: 2px 8px;
    padding-right: 12px;

    & > span {
      font-size: small;
      color: var(--foreground-60);
    }

    &.with-links {
      border: 1px solid var(--foreground-10);

      transition:
        background-color 100ms,
        border-color 100ms;

      &:hover,
      &:focus-visible {
        background-color: transparent;
        border-color: var(--foreground-20);
      }
    }
  }
</style>
