---
import TagPill from "src/components/TagPill.astro";

interface Props {
  tags: string[] | undefined;
}

const { tags = [] } = Astro.props;

if (tags.length === 0) return;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<div component-root>
  {
    tags.map((tag) => (
      <a href={`/tags/${tag}`}>
        <TagPill tag={tag} withLinks />
      </a>
    ))
  }
</div>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [component-root] {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
  }
</style>
