---
import PostCard from "src/components/PostCard.astro";
import { getEntry } from "astro:content";
interface Props {
  post: string;
}

const { post: postName } = Astro.props;

const post = await getEntry("posts", postName);
if (!post) {
  throw new Error(`Post ${postName} not found`);
}
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<div data-component="MdxPostCard">
  <PostCard post={post} />
</div>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="MdxPostCard"] {
    border: 1px solid var(--layout-border);

    text-decoration: none;
    color: inherit;
  }
</style>
